#login-container {
    /* margin-top: 10%; */
}
#login-container h2,
#login-container button,
#login-container form
{
    width: 100%;
}
#login-container button
{
    margin-top: 15px;
}
#login-container .Form-Label
{
    float: left;
}

/************ Login Css ************/
.login {
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    padding: 80px 0 200px 0;
  }
  .login img {
    width: 92%;
    animation: shakeX 12s linear infinite;
  }

  .login h2 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .login form input, .login form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
  }
  .login form input:focus, .login form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
  }
  .login form input::placeholder, .login form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  .login form input:focus::placeholder, .login form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
  }
  .login form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .login form button span {
    z-index: 1;
    position: relative;
  }
  .login form button:hover {
    color: #fff;
  }
  .login form button::before {
    content: "";
    background-color: #121212;
    color: #FFF;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  /* .login form button:hover::before {
    width: 100%;
    color: #FFF !important;
  } */


  .login form button:hover {
    color: #FFF;
    background-color: #121212;
}

.btn .active .login form button:active {
  color: #FFF;
  background-color: #121212;
}
.row{
  align-items: center;
}